<section class="section">
    <div class="container">
        <h2>Add Product</h2>

        <form [formGroup]="productForm" (ngSubmit)="addProduct()">

            <!-- title -->
            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label">Product Title</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="title" name="title" formControlName="title">
                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                        <div *ngIf="title.errors.required">Product Title is required.</div>
                    </div>
                </div>
            </div>
            <!-- category -->
            <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label">Product Category</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="category" name="category" formControlName="category">

                    <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
                        <div *ngIf="category.errors.required">Product category is required.</div>
                    </div>
                </div>
            </div>
            <!-- price -->
            <div class="form-group row">
                <label for="price" class="col-sm-3 col-form-label">Product Price</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="price" name="price" formControlName="price">

                    <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                        <div *ngIf="price.errors.required">Product Price is required.</div>
                    </div>
                </div>
            </div>


            <!-- description -->
            <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Product Description</label>
                <div class="col-sm-7">
                    <textarea class="form-control" id="description" name="description" formControlName="description"
                        rows="3"></textarea>

                    <div *ngIf="description.invalid && (description.dirty || description.touched)"
                        class="alert alert-danger">
                        <div *ngIf="description.errors.required">Product description is required.</div>
                    </div>
                </div>
            </div>

            <!-- product image -->
            <div class="form-group row">
                <label for="image" class="col-sm-3 col-form-label">Product Image</label>
                <div class="col-sm-7">
                    <input  type="file"  id="image" name="image" formControlName="image" accept='image/*' (change)="handleUpload($event)">
                    <img [src]="imgURL" *ngIf="imgURL" />
                    <div *ngIf="image.invalid && (image.dirty || image.touched)"
                        class="alert alert-danger">
                        <div *ngIf="image.errors.required">Product image is required.</div>
                    </div>
                </div>

            </div>
            <!-- submit btn -->
            <div class="form-group row">
                <div class="col-md-4 offset-md-6"><button type="submit" class="btn" [disabled]="!productForm.valid">Add
                        Product</button></div>
            </div>
        </form>
    </div>
</section>