.section {
  margin-top: 80px;
  .form-group {
    margin-bottom: 16px;
    label {
      color: #6d7888;
      font-size: 16px;
    }
    .form-control {
      border-radius: 10px;
    }
    img {
      max-height: 400px;
      height: 300px;
      width: 100%;
    }
  }

  .btn {
    background-color: #0c1f39;
    color: #fff;
    height: 50px;
    border: 0px;
    border-radius: 10px;
  }
}
