<section class="section">
    <div class="container">
        <div class="head">
            <h2>Products </h2>
            <button type="submit" class="btnAdd" routerLink="/add-product">Add New Product</button>
        </div>

        <div class="row">
            <div class="col-md-4 col-6" *ngFor="let product of products">
                <div class="product-section" (click)="toDetails(product)">
                    <img src={{product?.image}} alt={{product.name}} />
                    <h6>{{product.title}}</h6>
                    <p class="price-class">Price: <span>{{product.price}}EGP</span></p>
                    <p class="category-class">Category is <span>{{product.category}}</span></p>
                </div>
            </div>
        </div>
    </div>
</section>