.section {
  margin-top: 80px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h2 {
      font-size: 20px;
    }
    .btnAdd {
      background-color: #0c1f39;
      color: #fff;
      height: 50px;
      border: 0px;
      border-radius: 10px;
    }
  }

  .product-section {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 6px 10px;
    cursor: pointer;
    img {
      width: 150px;
      height: 200px;
      margin: auto;
      display: flex;
    }
    h6 {
      color: #0c1f39;
      font-size: 16px;
    }
    .price-class {
      font-size: 14px;
      color: #0c1f39;
      span {
        font-weight: bold;
      }
    }
    .category-class {
      font-size: 13px;
      span {
        font-size: 14px;
        color: #e3256c;
        font-weight: bold;
      }
    }
  }
}
