.section {
  margin-top: 80px;
  .img_class {
    width: 100%;
    height: auto;
  }

  .content_div {
    h4 {
      font-size: 30px;
      color: #010a18;
    }

    .price {
      font-size: 20px;
      color: #0c1f39;
      span {
        font-weight: bold;
      }
    }
    .category {
      font-size: 18px;
      color: #0c1f39;
      span {
        font-weight: bold;
      }
    }

    .rating_flex_div {
      display: flex;
      .rating_title {
        font-size: 16px;
        color: #0c1f39;
      }
      .count {
        color: #a8a8a8;
        font-size: 14px;
      }

      .rat_class {
        width: 90px;
        position: relative;
        display: flex;
        justify-content: center;
        .rating_div {
          position: absolute;
          top: 0;
          span {
            color: orange;
          }
        }

        .rating_div1 {
          span {
            color: #a8a8a8;
          }
        }
      }
    }
  }

  .disc_div{
      margin-top: 20px;
      h4{
        font-size: 25px;
        color: #010a18;
      }
      p{
          font-size: 16px;
      }
  }
}
