<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src={{product.image}} alt={{product.name}} class="img_class">
            </div>
            <div class="col-sm-6 content_div">
                <h4>{{product.title}}</h4>
                <p class="price">Price : <span>{{product.price}}</span></p>
                <p class="category">Category : <span>{{product.category}}</span></p>
                <div class="rating_flex_div">
                    <p class="rating_title">Rating :</p>
                    <div class="rat_class">
                        <div class="rating_div">
                            <span *ngFor="let i of newArr(product.rating.rate)" class="fa fa-star checked"></span>
                        </div>
                        <div class="rating_div1">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <p class="count">{{product.rating.count}} count</p>
                </div>

            </div>
        </div>

        <div class="disc_div">
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
    </div>
</section>